@charset "UTF-8";
/*　共通部分
------------------------------ */
/*HEADER */
.logo{
   width: 90px;
   margin-top: 14px;
}

html{
   font-size:100%;
}
body{
   font-family:"Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
   line-height: 1.7;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/*header背景*/
.page-header {
  display: flex;
  justify-content: space-between;
}
/*.page-header {
  position: relative;
  padding: 15px 0 0 0px;
}*/
.big-bg {
  background-image: url(../images/mainhome.jpg);
  height: 125px;
  margin-bottom: 40px;
  background-size: cover;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4%;
}

/*page-top-----------------------*/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*font-size: 77%;*/
  z-index: 999;
}

#page-top img {
  /*background: #666;
  text-decoration: none;
  color: #fff;*/
  width: 50%;
  height: 50%;
  /*padding: 30px 0;*/
  /*text-align: center;*/
  display: block;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*z-index: 999;*/
}


.page-top img:hover {
  /*text-decoration: none;
  color: black;
  background: #999;*/
  opacity: 0.5;
}


/* ハンバーガーアイコン---------------------------------*/
.btn-burger {
  cursor: pointer;
  display: block;
  width: 56px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 10px;
}

/*ハンバーガーアイコンを作る三本線*/
.icon, .icon:before, .icon:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px; /*線の太さ*/
  width: 35px; /*線の長さ*/
  background-color: #444;
  border-radius: 2px;
  display: block;
  content: '';
  cursor: pointer;
  margin: auto;
}

/*三本線の間隔*/
.icon:before {
top: 20px;
}
.icon:after {
top: -20px;
}

/*チェックボックス非表示*/
.nav-toggle {
  display: none;
}

/*アイコンをクリックしたら*/
.nav-toggle:checked ~ .btn-burger .icon {
  background: transparent;
}
.nav-toggle:checked ~ .btn-burger .icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.nav-toggle:checked ~ .btn-burger .icon:after {
  transform: rotate(45deg);
  top: 0;
}

.icon,
.icon:before,
.icon:after {
  transition: all .8s;
}

/* アコーディオンメニュ中身-------------*/
/*.nav {
  background-color: blueviolet;   /*後で消す！！！！*/
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.main-nav {  /*add*/
  list-style: none;
  display: none;
  /*margin: 0;
  padding-left: 20px;*/
  width: 450px;
}
/*.main-nav{
  display: flex;
  width: 450px;
}*/
.main-nav > li{ 
  position: relative;
  width: 25%;
  border-right: 1px solid #0071b9;
}
.main-nav > li:first-child{  /*spotの左側*/
  border-left: 1px solid #0071b9;
}
.main-nav a{
  display: block;
  line-height: 1;
  z-index: 1;
  /*text-decoration: none;  addいらないかも*/
}
.main-nav{
  flex-flow: row wrap;
}
.main-nav a{
  padding: 0.5em 0;
  font-size: 16px;
  color: #432;
  text-align: center;
  width: 100%;
}
.main-nav a:hover {
  color: #0071b9;
}
.main-nav li {
  width: 150px;
  /*margin: 0;      add*/
  /*padding: 10px;  add*/
}
.sub {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 2em;
  width: 150px;
  min-height: 0;
  height: 0;
  z-index: 3;
  transition: min-height 0.5s;
}

.sub > li > a {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  background-color: #0071b9;
  width: 100%;
}
.sub > li > a:hover {
  background-color: #004b83;
  opacity: 1; /*不透明度*/
}
.sub.active {
  min-height: 300px; /*211.14がぴったり→258になった*/
}
.nav-toggle:checked ~ .nav .main-nav {  /*add ハンバーガーメニューのメニュー部分*/
  display: block;
}



/* タイトルとp */
.home-content wrapper{
  margin-top: 10px;
  max-width: 600px;
}
.page-title{
  font-size: 4rem;
  font-family: "遊ゴシック体";
  text-transform: capitalize;
  font-weight: bold;
  color: #432;
  text-align: center;
  }

.home-content p {
  font-size: 2rem;
  font-family: "遊ゴシック体";
  text-transform: none;
  font-weight: normal;
  color: #432;
  text-align: center;
  margin: 10px 0 10px;
}

/* HOMEの写真　*/
.grid{
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
.item{
  position: relative;
}
.item p{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  font-family: cursive;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}
.item img:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.item img{
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/*各ページ-----------------------------------------------------*/
.sub-title{
  font-size: 2.5rem;
  font-family: "遊ゴシック体";
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  color: #432;
  display: flex;
  flex-direction: column;
}
.sub-title img{
  width: 90%; /*1200px*/
  height: 50%; /*650px*/
  object-fit: cover;
  margin: 0 auto;
}

.page-contents{
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
.item-title{
  border-bottom: 3px dotted #000;
  font-family: "遊ゴシック体";
  font-size: 1.25rem;
  font-weight: bold;
  color: #432;
  width: 350px;
}
.image img{
  width: 350px;
  height: 350px;
  margin-top: 10px;
  float: left;
}
.item-txt{
  font-family: "遊ゴシック体";
  font-size: 1rem;
  color: #432;
  width: 250px;
  height: 250px;
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}
/* 地図　*/
#location {
  padding: 4% 0;
  font-family: "遊ゴシック体";
  color: #432;
}
#location .wrapper {
  display: flex;
  justify-content: space-around;
}
.location-info {
  width: 40%;
}
.location-info p {
  padding: 12px 10px;
  font-size: 1rem;
}
.location-map {
  width: 50%;
}
.location-title {
  border-bottom: 3px dotted #000;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* iframe */
iframe{
  width: 100%;
}
/*access------------------------------------------------*/
.access-title{
  font-size: 2.5rem;
  font-family: "遊ゴシック体";
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  color: #432;
}
.access-title p{
  background-color: blanchedalmond;
  margin: 50px 10px;
}
.access-contents{
  display: flex;
  flex-direction: column;
}

.access-contents img{
  width: auto;
  height: auto;
}
/* Contact---------------------------------------------*/
#contact {   /*#contact----*/
  background-image: url(../images/contact.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#contact .page-title{
  color: #ffff;
}

/*フォーム　*/
form div{
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  color: #ffff;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
 width: 100%;
 max-width: 240px;
}
textarea {
 width: 100%;
 max-width: 480px;
 height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button {
  font-size: 1.375rem;
  background: #0090aa;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background:#004b83;
}

/*footer -----------------------------------------------------------*/
footer{
  background: #432;
  text-align: center;
  padding-left: 26px 0;
  clear: left;
}
footer p{
  color: #fff;
  font-size: 0.875rem;
}


/*モバイル版
--------------------------------------------------------------------------　*/
@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  

  /* HOME */
  .home-content {
      margin-top: 20%;
  }
  .page-header{
    flex-direction: column;
    align-items: center;
  }

  /* 各ページ */
  .page-contents {
     flex-direction: column;
  }
  #location {
    flex-direction: column;
  }

/* access */
  .access-content{
 margin-top: 20%;
  }

/* CONTACT */
#contact .page-title{
margin-top: 40px;
}
/*フォーム　*/
input[type="text"],
input[type="email"],
textarea {
  max-width: 100%;
}
}

/* --------------------------------------------------
  幅768px以上のスタイル指定 ここから
-------------------------------------------------- */
@media screen and (min-width: 768px) {
  /* ハンバーガーボタン */
  .btn-burger {
      display: none;  /*768px以上では使用しない */
  }
  /*.page-header {   add
    padding: 30px 0 0;
  }*/
  .nav-toggle:checked ~ .nav .main-nav {
      display: none;
  }
  .nav {
      height: 75px;
  }
  .main-nav {
      display: flex;
      justify-content: center;
      height: 75px;
      align-items: center;
  }
  .nav-list li:not(:last-child) {
    border-right: 1px solid #fff;
}
  }
