@charset "UTF-8";
/*　共通部分
------------------------------ */
/*HEADER */
.logo {
   width: 90px;
   margin-top: 5px;
}

html {
   font-size:100%;
}
body {
   font-family:"Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
   line-height: 1.7;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*header背景*/
.page-header {
    display: flex;
    justify-content: space-between;
}
.big-bg {
    background-image: url(./images/mainhome.jpg);
    height: 125px;
    margin-bottom: 40px;
    background-size: cover;
    width: 100%;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}


/* ハンバーガーアイコン---------------------------------*/
/*ボタン全体の形状*/
.openbtn1 {
  /*はじめは非表示に*/
    display: none;
  /*ボタンの位置*/
    position:fixed;
    top:10px;
    right: 10px;
    z-index: 999;
  /*ボタンの形状*/
    background:#666;
    cursor: pointer;
    width: 50px;
    height:50px;
    border-radius: 5px;
}

/*ボタンのアイコン設定*/
.openbtn1 span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
}

.openbtn1 span:nth-of-type(1) {
    top:15px; 
}

.openbtn1 span:nth-of-type(2) {
    top:23px;
}

.openbtn1 span:nth-of-type(3) {
    top:31px;
}

/*activeクラスが付与された後のボタンのアイコン設定*/
.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*fadeDownクラスが付与された後のボタンの出現アニメーション設定*/
.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: block;
}
@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*.doneクラスがついたヘッダー*/
.page-header.dnone {
    opacity: 0;/*透過0にして非表示に*/
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
.page-header.dnone.panelactive {
    opacity: 1;/*不透明にして出現*/
}


/*==ヘッダーのテキストナビゲーションの形状*/
.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15%;
}

#nav ul li a {
    display: block;
    text-decoration: none;
    color: #432;
    padding:10px;
    font-size: 1.3rem;
}
#contact .main-nav li a {
  color: #fff;
}
#contact .sub li a {
  color: #432;
}

#nav ul li.current a,
#nav ul li a:hover {
    color: #0090aa; 
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
.page-header.dnone #nav {
    /*固定位置にして最背面に*/
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /*高さと幅*/  
    width:100%;
    height: 100vh;
    /*天地中央＆テキスト中央揃え*/  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*はじめは透過0に*/  
    opacity: 0;
    transition: all 0.4s;
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
.page-header.dnone.panelactive #nav {
    opacity: 1;/*不透明に*/
    z-index:3;/*最前面に*/
    background:#eee;
}

.page-header.dnone.panelactive #nav ul {
    display:block;/*flexの横並びをblockにして縦並びに*/
}


/*リストの形状*/

.page-header.dnone.panelactive #nav li a {
    color: #432;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    transition:all 0.3s;
}
/*アコーディオン*/
/*2階層目以降は横並びにしない*/
.sub {
    display: block;
    list-style: none;
}
/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li {
    position: relative;
}

/*== 2・3階層目の共通設定 */
/*下の階層を持っているulの指定*/
nav li.has-sub ul {
  /*絶対配置で位置を指定*/
    position: absolute;
    left:100%;/*0=縦方向*/
    top:10px;/*62px=縦方向*/
    z-index: 4;
  /*形状を指定*/
    background: #eee;
    width:180px;
  /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
  /*アニメーション設定*/
    transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-sub:hover > ul,
nav li.has-sub ul li:hover > ul,
nav li.has-sub:active > ul,
nav li.has-sub ul li:active > ul {
    visibility: visible;
    opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-sub ul li a {
    color: #fff;
    border-bottom:solid 1px lightgray;
}

nav li.has-sub ul li:last-child a {
    border-bottom:none;
}

nav li.has-sub ul li a:hover,
nav li.has-sub ul li a:active {
    background:lightgray;
}


/* タイトルとp */
.home-content wrapper {
    margin-top: 10px;
    /*max-width: 600px;*/
}
.page-title {
    font-size: 4rem;
    font-family: "遊ゴシック体";
    text-transform: capitalize;
    font-weight: bold;
    color: #432;
    text-align: center;
}

.home-content p {
    font-size: 2rem;
    font-family: "遊ゴシック体";
    text-transform: none;
    font-weight: normal;
    color: #432;
    text-align: center;
    margin: 10px 0 10px;
}

/* HOMEの写真　*/
.grid {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 5%;
    margin-bottom: 50px;
}
.item {
    position: relative;
    width: 400px;
    height: 400px;
}
.item p {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    font-family: cursive;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}
.item img:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.item img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/*各ページ-----------------------------------------------------*/
.sub-title {
    font-size: 2.5rem;
    font-family: "遊ゴシック体";
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    color: #432;
    display: flex;
    flex-direction: column;
}
.sub-title img {
    width: 90%; /*1200px*/
    height: 50%; /*650px*/
    object-fit: cover;
    margin: 0 auto;
}

.page-contents {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}
.item-title {
    border-bottom: 3px dotted #000;
    font-family: "遊ゴシック体";
    font-size: 1.25rem;
    font-weight: bold;
    color: #432;
    width: 350px;
}
.image img {
    width: 350px;
    height: 350px;
    margin-top: 10px;
    float: left;
}
.item-txt {
    font-family: "遊ゴシック体";
    font-size: 1rem;
    color: #432;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
/* 地図　*/
#location {
    padding: 4% 0;
    font-family: "遊ゴシック体";
    color: #432;
}
#location .wrapper {
    display: flex;
    justify-content: space-around;
}
.location-info {
    width: 40%;
}
.location-info p {
    padding: 12px 10px;
    font-size: 1rem;
}
.location-map {
    width: 50%;
}
.location-title {
    border-bottom: 3px dotted #000;
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* iframe */
iframe {
    width: 100%;
}
/*access------------------------------------------------*/
.access-title {
    font-size: 2.5rem;
    font-family: "遊ゴシック体";
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    color: #432;
}
.access-title p {
    background-color: blanchedalmond;
    margin: 50px 10px;
}
.access-contents {
    display: flex;
    flex-direction: column;
}

.access-contents img {
    width: auto;
    height: auto;
}
/* Contact---------------------------------------------*/
#contact {
    background-image: url(./images/contact.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0;
}
#contact .page-title {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*フォーム　*/
/*form div {
    margin-bottom: 14px;
}*/
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
    color: #fff;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button {
    font-size: 1.2rem;
    background: #0090aa;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}
.button:hover {
    background:#004b83;
}

/*----------------------pagetop-----------------*/
#page-top a {
    display: flex;
    justify-content:center;
    align-items:center;
    background:#004b83;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
}
#page-top a:hover {
    background: #777;
}

  /*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    bottom:10px;
    z-index: 2;
  /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}

  /*　上に上がる動き　*/

#page-top.UpMove {
    animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
}

  /*　下に下がる動き　*/
#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(100px);
    }
}
/*------------------footer--------------------------*/
small {
    background:#432;
    color:#fff;
    display: block;
    text-align: center;
    padding:20px;
}
#footer {
    position: relative;
    z-index: 2;
}



/*モバイル版
--------------------------------------------------------------------------　*/
@media (max-width: 600px) {
  .page-title {
      font-size: 2.5rem;
  }
  .page-header {
      flex-direction: column;
      align-items: center;
  }
  .main-nav {
     justify-content: space-between;
  }
   /* HOME */
  .home-content {
      margin-top: 20%;
  }
  .grid {
      min-height: 3500px;
      width: 100%;
  }
  /*.item {
     width: 350px;
     height: 350px;
  }*/
 /* .item img {
     width: 350px;
     height: 350px;
  }*/
  /* 各ページ */
  .page-contents {
      flex-direction: column;
  }
  #location {
      flex-direction: column;
  }

  /* access */
  .access-content {
      margin-top: 20%;
  }

  /* CONTACT */
  #contact .page-title {
      margin-top: 5%;
  }
  /*フォーム　*/
  input[type="text"],
  input[type="email"],
  textarea {
      max-width: 100%;
  }
  /*地図*/
  #location .wrapper {
     flex-direction: column;
  }
  .location-info,
  .location-map {
     width: 100%;
  }
  /*footer*/
   #footer{
      width: 100%;
  }
}/*media*/
